<meta charset="utf-8">

{{ if eq .URL "/" }}
	<title>{{ .Title }}</title>
{{ else }}
	<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

<meta name="description" content="{{ .Site.Params.description }}">
<meta name="keywords" content="{{ .Site.Params.keywords }}">

<meta name="author" content="{{ .Site.Params.author }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">

<!-- <meta name="google-site-verification" content="pLcR_MdStXodoLp6CHNHNRlrvyokHov1zoR_gWeflQo"> -->
<!-- <meta name="yandex-verification" content="43172e34fa5a4627"> -->

<link href="/favicon.ico" rel="shortcut icon">
<link href="{{ .Site.Params.url }}" rel="canonical">

<link type="application/rss+xml" rel="alternate" title="{{ .Site.Title }}" href="http://feeds.rucast.net/radio-t"/>

<script type="application/javascript" src="/dist/libs/likely/likely.js" defer></script>
<script type="application/javascript" src="/dist/libs/modernizr-2.0.js" defer></script>
<script type="application/javascript" src="/dist/libs/ender.js" defer></script>
<script type="application/javascript" src="/dist/libs/octopress.js" defer></script>
<script type="application/javascript" src="/dist/libs/audiojs/audio.js" defer></script>
<script type="application/javascript" src="/dist/libs/search.js" defer></script>

{{ partial "webpack-inject.html" . }}
{{ partial "js_head.html" . }}
