{{ if or (eq .URL "/") (eq (substr .URL 0 3) "/p/") }}
<script>
    var remark_config = {
      site_id: '{{ .Site.Params.remark42 }}',
    };

  (function() {
    var d = document, s = d.createElement('script');
    var baseurl = 'https://remark42.radio-t.com';

		var scripturl = window.location.pathname === "/" ? "/web/counter.js" : "/web/embed.js"
    s.src = baseurl + scripturl;
    s.type = 'text/javascript';
    (d.head || d.body).appendChild(s);
  })();
</script>
{{ end }}

<script type="text/javascript">
  (function(){
    var twitterWidgets = document.createElement('script');
    twitterWidgets.type = 'text/javascript';
    twitterWidgets.async = true;
    twitterWidgets.src = '//platform.twitter.com/widgets.js';
    document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
  })();
</script>
