{{ define "main" }}
<div class="blog-index main__blog-index">
  {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}

  {{ range $paginator.Pages }}
    {{ partial "article" . }}
  {{ end }}

  {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
    <ul class="pagination blog-index__pagination">
      {{ if $paginator.HasNext }}
				<li><a class="pagination__prev blog-index__pagination-prev" href="{{ .URL }}page/{{ $paginator.Next.PageNumber }}/">&larr; Раньше</a></li>
      {{ else }}
				<li><span class="pagination__prev blog-index__pagination-prev">&larr; Раньше</span></li>
      {{ end }}

      <li><a href="/archives/">Архивы подкаста</a></li>

      {{ if $paginator.HasPrev }}
				<li><a class="pagination__next blog-index__pagination-next" href="{{ .URL }}page/{{ $paginator.Prev.PageNumber }}/">Позже &rarr;</a></li>
      {{ else }}
				<li><span class="blog-index__pagination blog-index__pagination-next">Позже &rarr;</span></li>
      {{ end }}
    </ul>
  {{ end }}
</div>
{{ end }}
