{{ define "main" }}
<div class="blog-index main__blog-index">
  <article role="article" class="category-view">
    <header>
      <h1 class="category-view__title">Категория: {{ .Title }}</h1>
    </header>

    <div id="blog-archives" class="category-view__list">
			{{ range .Site.Pages.GroupByDate "2006" }}
        {{ $k := .Key }}

        {{ $.Scratch.Add $k 0 }}
        {{ range .Pages }}
          {{ if eq .Type "posts" }}
            {{ $.Scratch.Add $k 1 }}
          {{ end }}
        {{ end }}

        {{ if ($.Scratch.Get $k) "!=" 0 }}
          <h2 class="category-view__year">{{ .Key }}</h2>

          {{ range .Pages }}
            {{ if eq .Type "posts" }}
                {{ partial "archive_article" . }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </article>
</div>
{{ end }}

